name: Check and Update Game & Toolbox Images manually or every 30 Minutes

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
  
  push:
    paths:
      - '.github/**'

jobs:
  check-update:
    runs-on: ubuntu-latest
    outputs:
      changed-list: ${{ steps.get-changed-list.outputs.changed_list }}
      pushed: ${{ steps.commit-changes.outputs.pushed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch game info
        id: fetch-game-info
        run: |
          gameinfo=`curl -s "https://api.steamcmd.net/v1/info/343050"`
          echo "gameinfo=$gameinfo" >> "$GITHUB_ENV"

          echo "::group::Game info"
          echo $gameinfo | jq
          echo "::endgroup::"

      - name: Get changed list
        id: get-changed-list
        run: |
          if [ -f version.csv ]; then
            previous=`cat version.csv | tail -n 1 | awk -F',' '{print $3}'`
          else
            previous=0
          fi

          current=`echo $gameinfo | jq -r ".data.\"343050\".depots.branches | to_entries[] | select(.value.pwdrequired != \"1\") | \"\\(.key),\\(.value.buildid),\\(.value.timeupdated)\"" | sort -t, -k3 -n | tail -n 1 | awk -F',' '{print $3}'`

          echo "::group::Timeupdated"
          echo "previous=$previous"
          echo "current=$current"
          echo "::endgroup::"

          changed_list=`echo $gameinfo | jq -cr ".data.\"343050\".depots.branches | to_entries | map({branch: .key} + .value) | map(select(.pwdrequired != \"1\" and .timeupdated > \"$previous\" and .timeupdated <= \"$current\"))"`
          echo "changed_list=$changed_list" >> "$GITHUB_OUTPUT"

          echo "::group::Changed list"
          echo $changed_list | jq
          echo "::endgroup::"

  update-game-images:
    needs: check-update
    uses: ./.github/workflows/game.yml
    with:
      build-items: ${{ needs.check-update.outputs.changed-list }}
    secrets: inherit
