name: Build Game & Toolbox Images

on:
  workflow_call:
    inputs:
      build-items:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-item: ${{ fromJson(inputs.build-items) }}
    steps:
      - name: Login to Docker Hub
        if: matrix.build-item.branch == 'public'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: matrix.build-item.branch == 'public'
        uses: docker/setup-buildx-action@v3

      - name: Build downloader
        if: matrix.build-item.branch == 'public'
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:game"
          target: downloader
          load: true
          tags: dst-downloader:${{ matrix.build-item.branch }}
          build-args: |
            DST_BRANCH=public
            DST_BUILDID=${{ matrix.build-item.buildid }}
            DST_TIMEUPDATED=${{ matrix.build-item.timeupdated }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Get game version
        if: matrix.build-item.branch == 'public'
        id: get-version
        run: |
          version=$(docker run --rm dst-downloader:${{ matrix.build-item.branch }} cat /home/steam/dst/game/version.txt)
          echo "version=$version" >> "$GITHUB_OUTPUT"

      - name: Build and push 'public' game image
        if: matrix.build-item.branch == 'public'
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:game"
          target: game
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/dontstarvetogether:${{ matrix.build-item.buildid }}
          build-args: |
            DST_BRANCH=public
            DST_BUILDID=${{ matrix.build-item.buildid }}
            DST_TIMEUPDATED=${{ matrix.build-item.timeupdated }}
            DST_VERSION=${{ steps.get-version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
